
*{
    margin: 0%;
    padding: 0%;
}

#pagina{
    width: 100%;
    height: auto;
    margin: 0px auto;

}

header{
    width: 100%;
    height: 100px;
    background-color: #ba2d2d;
    margin: 0% auto;
    display: flex;
    align-items: center;
    
}

#logowt{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

nav{
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.linknav{
    color: white;
    text-decoration: none;
    /* text-align: left; */
    padding: 10px;
    margin: 0% auto;

}


#botao{
    width: 15%;
    height: 60px;
    text-align: center;
    padding: 10px;
    background-color: #ba2d2d;
    color: white;
    border: none;
    border: 2px solid white;
    border-radius: 10px

    
}
#botao:hover{
    width: 17%;
    height: 65px;
    background-color: #c7c730;
    color: black; 
    padding: 10px 20px;
}

#navbot{
width: 50%;
margin: 0% auto;
display: flex;
justify-content: right;
align-items: center;
flex-direction: row-reverse;
padding: 20px;
float: right;
}

/* <!-- FIM HEADER --> */

main{
    width: 100%;
    margin: 0% auto;
}

#primeiro{
    width: 100%;
    height: 600px;
    background-image: url(../AtividadeBanco/images/banner.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#efeito{
width: 40%;
height: 210px;
background-color: #f2861b;
opacity: 0.5;
display: flex;
flex-direction: column;
gap: 20px;
padding-left: 20px;
padding-top: 50px;
}

#botao2{
    width: 30%;
    height: 60px;
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border: 3px solid #c7c730;
    border-radius: 10px
}

#botao2:hover{
    width: 35%;
    height: 65px;
    background-color: #c7c730;
    color: black; 
    border: 3px solid black;
    border-radius: 10px;
    
}

#segundo{
    width: 100%;
    height: 70px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

#terceiro{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;

 }

#div1{
    width: 15%;
    height: 200px;
    background-color: white;
    align-items: center;
    border: none;
    border: 2px solid lightgray;
    border-radius: 2px;
    margin-top:10px;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

#quarto{
    /* width: 100%; */
    height: 250px;
    background-color: #302727;
    color: white;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

#layout{
    width: 60%;
    height: 250px;
    padding-top: 100px;

}

#beneficios{
    /* width: 40%; */
    height: 250px;
    border: none;
    border-radius: 10px;   
}

#textosejacliente{
    width: 100%;
    height: 50px;
    margin-top: 30px;
    text-align: center;
}

#quinto{
width: 100%;
height: 300px;
display: flex;
justify-content: center;
gap: 70px;
}

#cartao1{
    width: 280px;
    height: 280px;
    background-image: url(../AtividadeBanco/images/cartaoUm.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 10px;
   
}

#cartao2{
    width: 280px;
    height: 280px;
    background-image: url(../AtividadeBanco/images/cartaoDois.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 10px;
   
}

#cartao3{
    width: 280px;
    height: 280px;
    background-image: url(../AtividadeBanco/images/cartaoTres.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 10px;
   
}

#areatabela{
    width: 50%;
    height: auto;
    background-color: white;
    border: lightgray solid 3px;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


table{
    border-collapse: collapse;
    width: 700px;
    text-align: center;
    height: 250px;
    box-shadow: gray 0px 10px 10px 0px ;
    margin-top: 20px;
    margin-bottom: 30px;
}

td , th{
    font-weight: bold;
    border: 1px solid black;
}


th{
    background-color:#ba2d2d ;
    color: white;    
}

td:hover{
    background-color: brown;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer{    
    width: 100%;
    height: 100px;
    background-color: #ba2d2d;
    color: white;
    margin: 0% auto;
    display: flex;
    justify-content: center;
    align-items: center;      
}


#color{
    background-color: #302727;
    background-color: #ba2d2d;
    background-color: #f2511b;
    background-color: #f2861b;
    background-color: #c7c730;
}